*{ 
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
margin: 0px;
padding: 0px;
}
header{
    background-image: url('../Flower Asset/pexels-lisa-fotios-1182338.jpg');
    height: 35vh;
    background-size: contain;
}

/* nav section style */
.shop-name{
    text-align: center;
    color:#FFFFFF;
    padding-top: 100px;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 800;
       
}
.color-word{
color: #E55473;
}
.nav-items {
    display: flex;
    justify-content: space-around;
}
.nav-bar{
    margin-top: 25px;
    text-decoration: none;
    font-size:large;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    background: #393837;
    padding: 20px 43px;
}
.nav-bar:hover{
    color: rgb(223, 112, 112);
    cursor: pointer;
}

/* first banner style */
.banner-container{
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}
.banner-text{
    padding-left:240px;
    padding-right: 200px;
}
.banner-title{
    color: #272727;
    font-size: 55px;
    margin-bottom: 25px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.banner-image{
   
    margin-right: 50px;
    margin-top: 17px;
}
.btn-style{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    background: #E55473;
    border: 0px;
    padding: 20px 43px; 
}
.btn-style:hover{
    color: black;
    cursor: pointer;
}

/* Our Featured Flowers section style */
.banner-heading{
    margin-top: 150px;
    text-align: center;
}
.heading-description{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px  520px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    text-align: center;
}
.flowers{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flower-item1{
    width: 464px;
    height: 538px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    
}
.item1-position{
    margin-left: 78px;
    margin-top: 110px;
}
.flower-item2{
    width: 464px;
    height: 538px;
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.item2-position{
  margin: 117px 47px 51px 47px;
}

.flower-item3{
    width: 464px;
    height: 538px;
    background: #477D1126;
    border-radius: 300px 300px 0px 0px;
}
.item3-position{
    margin-left: 78px;
    margin-top: 67px;  
}
.flower-name{
    color: #272727;
    text-align: center;
    font-size: 24px;
    text-decoration-line: underline;
    margin-top: 30px;
}
.flower-name:hover{
    color: rgb(0, 0, 255);
    cursor: pointer;
}
/* hot deal section */
.hot-deal{
    height: 80vh;
    background: rgba(229, 84, 115, 0.05);;
    margin-top: 220px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rose-image{
    padding-right: 200px;
}
   .hot-deal-text{
    text-align: center;
    }
    .hot-deal-description{
        margin: 25px 0px;
        padding:0px 300px;
        
    }


.flowers-item{
    text-align: center;
    margin-bottom: 120px;

}

.deals{
    background-image: url(../background-images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    height: 80vh;
    margin: 0px 100px;
}
.deals-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-bottom: 10px;
}
.deals-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
}
.subscribe-form{
    padding-top: 45px;
 text-align: center;
 margin-top: 30px;
border: 0px;
display: block;
width: 100%;
}
.email-box{
    width: 600px;
    height: 20px;
    border-radius: 0px;
    background: #FFF;
    padding: 20px;
}
.deals-title{
    padding-top: 120px;
}
/* footer section style */
footer{
    text-align: center;
    background-color:  #111010;
}

.shop-details{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    max-width: 600px;
    margin-left: 510px;
}
.copyright{
    font-size: 16px;
    margin-top: 30px;
    padding-bottom: 20px;
    color: rgb(239, 239, 248);
}
